body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.topbar {
    display: flex;
    justify-content: flex-end;  /* Aligns children to the right */
    align-items: center;
    background-color: #f1f1f1;
    padding: 1px 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    top: 0;
    left: 0;
}

.main-content {
    height: 100%; 
}

.main-panel-left {
    background-color: #f9f9f9;
}
.main-panel-right {
    background-color: #00f9f9;
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    overflow-y: auto;
}


.resizerVertical {
    flex: 0 0 4px; /* Do not grow or shrink, and stay 4px thick */
    background: #ccc;
    cursor: ew-resize;
    z-index: 10;
}

.resizerHorizontal {
    flex: 0 0 4px; /* Do not grow or shrink, and stay 4px thick */
    background: #ccc;
    cursor: ns-resize;
    z-index: 10;
}


.main-panel-bottom {
    flex-direction: column;
    width: 100%; /* Ensure it takes the full width of its parent */
    height: auto; /* Adjust height as needed */
}

#eeg-canvas {
    width: 100%; /* Canvas takes the full width */
    height: 200px; /* Fixed height */
}

#eeg-slider {
    width: 98%; /* Slider takes the full width */
}

.selected {
    background-color: #d9edf7;  /* Light blue color, adjust as needed */
}

/* DataTables styling */
.dataTables_wrapper {
    height: 700px; /* Set the desired height */
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

.dataTables_wrapper table.dataTable tbody th,
.dataTables_wrapper table.dataTable tbody td {
    font-size: 15px; /* Set the desired font size */
}