<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


    <div class="main-menu">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </div>
    <div class="topbar">
        <div class="user-info">
            <p>User: <span>{{ current_user.username }}</span>   </p>
            <form action="{{ url_for('logout') }}" method="post" style="margin: 0;">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="main-content">

        <div class="main-panel-top">
            <div class="main-panel-left">
                <div class="container">
                                        <h1>Patient Information</h1>
                    <div class="dropdown mb-3">
                        <select name="subjects" id="subject-dropdown" class="form-control">
                            <option value="">Select a patient</option>
                            <!-- Additional options can be dynamically added here -->
                        </select>
                    </div>

<!--                    <button id="load-eeg-btn" class="btn btn-primary">Visualize EEG</button>-->
                </div>
            </div>

            <div class="resizerVertical" id="drag-resizer-vertical"></div> <!-- Draggable divider -->

            <div class="main-panel-right">
                <table id="data-table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <!-- Headers will be dynamically inserted -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data rows will be dynamically populated -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="resizerHorizontal" id="drag-resizer-horizontal"></div> <!-- Draggable divider -->

        <div class="main-panel-bottom">
            <div id="eeg-plot" style="width: 100%; height: 400px;"></div>
            <input type="range" id="eeg-slider" min="0" max="135" step="1" value="0" style="width: 100%;">
        </div>

    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<!--    <script src="https://cdn.datatables.net/colreorder/1.5.5/js/dataTables.colReorder.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.5/css/colReorder.dataTables.min.css">-->


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script src="{{ url_for('static', filename='js/resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/subject_info.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eeg.js') }}"></script>

</body>
</html>
